# list

In [22]:
my = ['a', 'b', 'c']
my.append('d')
my

['a', 'b', 'c', 'd']

In [24]:
my.insert(1,'e')
my

['a', 'e', 'e', 'b', 'c', 'd']

In [25]:
my.pop()
my

['a', 'e', 'e', 'b', 'c']

In [26]:
my.remove('c')
my

['a', 'e', 'e', 'b']

In [27]:
#my.remove('d')

In [ ]:
my.clear() # to clear the all the list elements

In [30]:
my.reverse()
my

['b', 'e', 'e', 'a']

In [31]:
my.sort()

my

In [32]:
my

['a', 'b', 'e', 'e']

In [34]:
new_list = sorted(my)
new_list

['a', 'b', 'e', 'e']

In [38]:
# new list with five zeros
mylist = [0]*5
mylist

n = my + mylist
n

['a', 'b', 'e', 'e', 0, 0, 0, 0, 0]

In [39]:
ml = [i for i in range(1,10)]

In [40]:
ml

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# tuple

In [41]:
mytuple  =('max', 1, 'india')

In [42]:
mytuple

('max', 1, 'india')

In [43]:
m = ('amd',)
type(m)

tuple

In [45]:
m = tuple(['manoj', '22', 'india'])
print(m)

('manoj', '22', 'india')

In [47]:
item = m[0] # u can use the index
print(item)

manoj

In [48]:
for i in m:
    print(i)

manoj
22
india

In [49]:
if 'manoj' in m:
    print('yes')
else:
    print("no")

yes

In [50]:
print(len(m))

3

In [51]:
print(m.count('manoj'))

1

In [53]:
print(m.index('manoj'))

0

In [55]:
m_l = list(m) # we can convert
m_l

['manoj', '22', 'india']

In [56]:
b = m[:2]
b

('manoj', '22')

In [59]:
b = m[::-1]
b

('india', '22', 'manoj')

In [63]:
# unpacking
i,*i1, i3 = m
print(i,i1,i3)

manoj ['22'] india

# dictionary

In [65]:
my_dict ={"name":"anil", "age":21, "city":"chennai"} 
print(my_dict)

{'name': 'anil', 'age': 21, 'city': 'chennai'}

In [66]:
print(my_dict['name'])

anil

In [67]:
# insert 

my_dict['email']='anil21@gmail.com'
my_dict

{'name': 'anil', 'age': 21, 'city': 'chennai', 'email': 'anil21@gmail.com'}

In [68]:
del my_dict['email']
my_dict

{'name': 'anil', 'age': 21, 'city': 'chennai'}

In [69]:
my_dict.pop('age')

21

In [70]:
my_dict.popitem()
my_dict

{'name': 'anil'}

In [71]:
my_dict ={"name":"anil", "age":21, "city":"chennai"} 
print(my_dict)

{'name': 'anil', 'age': 21, 'city': 'chennai'}

In [72]:
if 'name' in my_dict:
    print(my_dict['name'])
else:
    print("not a key")

anil

In [74]:
for key in my_dict:
    print(key)

name
age
city

In [77]:
for values in my_dict.values():
    print(values)

anil
21
chennai

In [78]:
for k,v in my_dict.items():
    print(k, v)

name anil
age 21
city chennai

In [82]:
# new 
my_dict = {'a':'ani','age':21}
my_dict_cpy = my_dict.copy()
my_dict_cpy['email'] = 'anil@gmail.com'
print(my_dict, my_dict_cpy)

{'a': 'ani', 'age': 21} {'a': 'ani', 'age': 21, 'email': 'anil@gmail.com'}

In [84]:
# update


my_update = dict(a='anil',age=24 )
my_dict.update(my_update)
my_dict

{'a': 'anil', 'age': 24}

In [86]:
mytuple = (7,9)# for list it is not hashable
mydict = {mytuple : 15}
print(mydict)

{(7, 9): 15}

# sets , unorderded, mutable, no duplicates

In [87]:
myset = set()

In [89]:
myset
type(myset)

set

In [90]:
myset.add(1)
myset.add(2)
myset.add(3)

In [91]:
for i in myset:
    print(i)

1
2
3

In [92]:
myset.clear()

In [93]:
myset

set()

# set operations

In [97]:
s1 = {1,2,3,4}
s2 = {5,6,7,8}
s = s1.union(s2)
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [98]:
s1 = {1,2,3,4}
s2 = {5,6,7,8, 1,4}
s = s1.intersection(s2)
s

{1, 4}

In [101]:
s1 = {1,2,3,4}
s2 = {i for i in range(1,10)}
s = s1.difference(s2)
print(s)
s = s2.difference(s1)
print(s)

set()
{5, 6, 7, 8, 9}

# string

In [104]:
var = 'anil'
my_string  = "the programmer is %s " % var

In [105]:
my_string

'the programmer is anil '

In [107]:
var = 3.1234

In [109]:
my_str = "the var is {:.2f}".format(var)
my_str

'the var is 3.12'