# list

In [3]:
my = ['a', 'b', 'c']
my.append('d')
my

['a', 'b', 'c', 'd']

In [4]:
my.insert(1,'e')
my

['a', 'e', 'b', 'c', 'd']

In [5]:
my.pop()
my

['a', 'e', 'b', 'c']

In [6]:
my.remove('c')
my

['a', 'e', 'b']

In [7]:
#my.remove('d')

In [8]:
my.clear() # to clear the all the list elements

In [9]:
my.reverse()
my

[]

In [10]:
my.sort()

my

In [11]:
my

[]

In [12]:
new_list = sorted(my)
new_list

[]

In [13]:
# new list with five zeros
mylist = [0]*5
mylist

n = my + mylist
n

[0, 0, 0, 0, 0]

In [14]:
ml = [i for i in range(1,10)]

In [15]:
ml

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# tuple

In [16]:
mytuple  =('max', 1, 'india')

In [17]:
mytuple

('max', 1, 'india')

In [18]:
m = ('amd',)
type(m)

tuple

In [19]:
m = tuple(['manoj', '22', 'india'])
print(m)

('manoj', '22', 'india')

In [20]:
item = m[0] # u can use the index
print(item)

manoj

In [21]:
for i in m:
    print(i)

manoj
22
india

In [22]:
if 'manoj' in m:
    print('yes')
else:
    print("no")

yes

In [23]:
print(len(m))

3

In [24]:
print(m.count('manoj'))

1

In [25]:
print(m.index('manoj'))

0

In [26]:
m_l = list(m) # we can convert
m_l

['manoj', '22', 'india']

In [27]:
b = m[:2]
b

('manoj', '22')

In [28]:
b = m[::-1]
b

('india', '22', 'manoj')

In [29]:
# unpacking
i,*i1, i3 = m
print(i,i1,i3)

manoj ['22'] india

# dictionary

In [30]:
my_dict ={"name":"anil", "age":21, "city":"chennai"} 
print(my_dict)

{'name': 'anil', 'age': 21, 'city': 'chennai'}

In [31]:
print(my_dict['name'])

anil

In [32]:
# insert 

my_dict['email']='anil21@gmail.com'
my_dict

{'name': 'anil', 'age': 21, 'city': 'chennai', 'email': 'anil21@gmail.com'}

In [33]:
del my_dict['email']
my_dict

{'name': 'anil', 'age': 21, 'city': 'chennai'}

In [34]:
my_dict.pop('age')

21

In [35]:
my_dict.popitem()
my_dict

{'name': 'anil'}

In [36]:
my_dict ={"name":"anil", "age":21, "city":"chennai"} 
print(my_dict)

{'name': 'anil', 'age': 21, 'city': 'chennai'}

In [37]:
if 'name' in my_dict:
    print(my_dict['name'])
else:
    print("not a key")

anil

In [38]:
for key in my_dict:
    print(key)

name
age
city

In [39]:
for values in my_dict.values():
    print(values)

anil
21
chennai

In [40]:
for k,v in my_dict.items():
    print(k, v)

name anil
age 21
city chennai

In [41]:
# new 
my_dict = {'a':'ani','age':21}
my_dict_cpy = my_dict.copy()
my_dict_cpy['email'] = 'anil@gmail.com'
print(my_dict, my_dict_cpy)

{'a': 'ani', 'age': 21} {'a': 'ani', 'age': 21, 'email': 'anil@gmail.com'}

In [42]:
# update


my_update = dict(a='anil',age=24 )
my_dict.update(my_update)
my_dict

{'a': 'anil', 'age': 24}

In [43]:
mytuple = (7,9)# for list it is not hashable
mydict = {mytuple : 15}
print(mydict)

{(7, 9): 15}

# sets , unorderded, mutable, no duplicates

In [44]:
myset = set()

In [45]:
myset
type(myset)

set

In [46]:
myset.add(1)
myset.add(2)
myset.add(3)

In [47]:
for i in myset:
    print(i)

1
2
3

In [48]:
myset.clear()

In [49]:
myset

set()

# set operations

In [50]:
s1 = {1,2,3,4}
s2 = {5,6,7,8}
s = s1.union(s2)
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
s1 = {1,2,3,4}
s2 = {5,6,7,8, 1,4}
s = s1.intersection(s2)
s

{1, 4}

In [52]:
s1 = {1,2,3,4}
s2 = {i for i in range(1,10)}
s = s1.difference(s2)
print(s)
s = s2.difference(s1)
print(s)

set()
{5, 6, 7, 8, 9}

In [53]:
s1 = {1, 2,4 }
s2 = {i for i in range(1,10)}
s = s1.symmetric_difference(s2)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# string

In [54]:
var = 'anil'
my_string  = "the programmer is %s " % var

In [55]:
my_string

'the programmer is anil '

In [56]:
var = 3.1234

In [57]:
my_str = "the var is {:.2f}".format(var)
my_str

'the var is 3.12'